@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, menu{
  list-style: none;
}

a{
  text-decoration: none;
  color: currentColor;
}

img{
  width: auto;
}

body{
  font-family: "Fredoka", sans-serif;
}

/* DEBUG */

/* body *{
  border: solid 1px black;
} */

/* UTILITIES */

.flex{
  display: flex;
}

a.button-sm-light{
  line-height: 16px;
  border-radius: 999px;
  padding: 12px 16px;
  background-color: white;
  color: black;
}

/* LAYOUT */

.row{
  display: flex;
}

.container-xl{
  max-width: 1200px;
}

.container{
  max-width: 1070px;
}

.container-sm{
  max-width: 940px;
}

[class^='container']{
  margin: 0 auto;
}

/* HEADER */

nav{
  background-color: #0384FD;
  padding: 12px;
  color: white;
}

nav .fa-solid{
  display: none;
}

nav .row{
  justify-content: space-between;
  align-items: center;
}

nav ul{
  align-items: center;
  gap:15px;
}




/* MEDIA QUERIES */

@media screen and (min-width:0px) {
  nav .fa-solid{
    display: inline-block;
  }

  nav ul, nav li{
    display: none;
  }
}

@media screen and (min-width:992px) {
  
}

@media screen and (min-width:1200px) {
  nav .fa-solid{
    display: none;
  }

  nav ul, nav li{
    display: block;
  }
}

