/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, menu{
  list-style: none;
}

a{
  text-decoration: none;
  color: currentColor;
}

img{
  width: 100%;
}

/* DEBUG */

body *{
  border: solid 1px black;
}

/* LAYOUT */

.row{
  display: flex;
}

.container-xl{
  max-width: 1200px;
}

.container{
  max-width: 1070px;
}

.container-sm{
  max-width: 940px;
}

/* UTILITIES */

.flex{
  display: flex;
}

/* MEDIA QUERIES */

@media screen and (min-width:576px) {
  
}

@media screen and (min-width:992px) {
  
}

@media screen and (min-width:992px) {
  
}

