/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, menu{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
}

/* DEBUG */

body > *{
  border: solid 1px black;
}